@charset "UTF-8";
/*main部分start*/
.main-slider {
    position: relative;
    float: left;
    width: 730px;
    height: 454px;
    margin: 12px 0 0 220px;
}
.main-slider ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -66px;
}
.main-slider ul li {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    background-color: #3E3E3E;
}
.main-slider ul li.current {
    background-color: pink;
}
 .arrow a {
     position: absolute;
     top: 50%;
     width: 28px;
     height: 62px;
     text-align: center;
     margin-top: -31px;
     color: #fff;
     font: 400 22px/62px "simsun";
     border-radius: 10px;
     background-color: rgba(0,0,0,0.3);

 }
.arrow a:hover {
    background-color: rgba(0,0,0,0.7);
}
 .arrow-l {
     left: 0;
 }
.arrow-r {
    right: 0;
}
.main-news {
    float: right;
    height: 466px;
    width: 250px;
}
.main-news-top {
    height: 372px;
    width: 248px;
    margin: 12px 0 5px 0;
    border: 1px solid #E4E4E4;
}
.main-news-top-faster {
    height: 163px;
    border-bottom: 1px dashed #E4E4E4;
}
.main-news-top-faster-title {
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #E8E8E8;
}
.main-news-top-faster-title h3 {
    float: left;
    font: 400 16px/32px "microsoft yahei";
}
.main-news-top-faster-title a {
    float: right;
    font-family: "consolas";
}
.main-news-top-faster-content {
    padding: 5px 0 0 15px;
}
.main-news-top-faster-content li {
    line-height: 24px;
}
.main-news-top-faster-content span {
    font-weight: 700;
    margin-right: 5px;
}
.main-news-top-money ul {
    width: 250px;
}
.main-news-top-money li {
    width: 61px;
    height: 70px;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #E8E8E7;
    border-top: 0;
}
.main-news-top-money a {
    display: block;
    position: relative;
    width: 61px;
    height: 70px;
    padding-top: 40px;
    text-align: center;
    line-height: 30px;
}
.main-news-top-money i {
    position: absolute;
    top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url("../images/fly.png") no-repeat;
}
.main-news-top-money .main-news-top-money-icon2 {
    background-position: 0 -25px;
}
.main-news-top-money .main-news-top-money-icon3 {
    background-position: 0 -50px;
}
.main-news-top-money .main-news-top-money-icon4 {
    background-position: 0 -75px;
}
.main-news-top-money .main-news-top-money-icon5 {
    background-position: 0 -100px;
}
.main-news-top-money .main-news-top-money-icon6 {
    background-position: 0 -125px;
}
.main-news-top-money .main-news-top-money-icon7 {
    background-position: 0 -150px;
}
.main-news-top-money .main-news-top-money-icon8 {
    background-position: 0 -175px;
}
.main-news-top-money .main-news-top-money-icon9 {
    background-position: 0 -200px;
}
.main-news-top-money .main-news-top-money-icon10 {
    background-position: 0 -225px;
}
.main-news-top-money .main-news-top-money-icon11 {
    background-position: 0 -250px;
}
.main-news-top-money .main-news-top-money-icon12 {
    background-position: 0 -275px;
}

/*main部分end*/

/*today部分start*/

/*today部分end*/

